.deploy_git
.github
node_modules
public
.DS_Store
.deploy*/
*.log
db.json
Thumbs.db
Hexo-LiveForCode
Cnblogs-Theme-SimpleMemory

https://www.cnblogs.com/zhyantao/p/10424874.html
https://blog.csdn.net/weixin_44441126/article/details/119745642